<h1>questions#index</h1>
<ul>
	<% @questions.each do | question | %>
		<li>
			<%= question.content %>
			<%= link_to "show", submissio_question_path(@submissio, question) %>	
			</li>
	<% end %>
</ul>