<h1>questions#index</h1>

<ul>
	<% @questions.each do | question | %>
		<li>
			<%= question.content %> |
			<%= question.answers.find_by(question: question).content %> |
			<%= link_to "show", submissio_question_path(@submissio, question) %>	
			</li>
	<% end %>
</ul>

<%= link_to "back to submissio", submissio_path(@submissio) %>