<h1>home#submissi.o.</h1>

<%= link_to "submissios", submissios_path %><br />
<%= link_to "questions", questions_path %><br />
<%= link_to "CPV Codes", cpvs_path %><br />
<%= link_to "formio Definition", formio_path %><br />
